<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Doctor Appointment</title>
</head>

<body>
    <div id="navbar" class="navbar-expand-lg navbar-light bg-light" data-id="{{ current_user.id }}" data-authenticated="{{ current_user.is_authenticated }}" data-username="{{ current_user.username }}" data-guest-name="{{ guest_name }}" data-user-type="{{ current_user.type }}">
    </div>    

    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages" class="container mt-4">
                <ul class="flash-messages list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-info">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div id="availability-form" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeAvailabilityForm()">&times;</span>
                        <h2>Add Availability</h2>

                        <form id="availabilityForm">
                            <label for="start_time">Start Time:</label>
                            <input type="datetime-local" id="start_time" name="start_time" required><br>

                            <label for="end_time">End Time:</label>
                            <input type="datetime-local" id="end_time" name="end_time" required><br>

                            <button type="button" onclick="addAvailability()" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>

                <div id="appointment-form" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeAppointmentForm()">&times;</span>
                        <h2>Add Appointment</h2>

                        <form id="appointmentForm" action="{{ url_for('add_appointment') }}" method="post">
                            <label for="datetime">Date/Time:</label>
                            <input type="datetime-local" id="datetime" name="datetime" required><br>
                            <input type="hidden" id="patient_id" name="patient_id" value="">
                            <label for="doctor_name">Doctor Name:</label>
                            <select id="doctor_name" name="doctor_name" required></select><br>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="appointments-list">
    </div>
    <div id="doctor-availability">
    </div>

</body>
</html>
